body{
    background-color: #121212;
    background-size:cover;
    background-position: center;
    color: black;
    font-size: 130%;
    font-weight: bold;
    margin: 0;
    padding: 0;
}


.title{
    color: whitesmoke;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em;
    margin: 15px;
}


/* Nav barre*/


.nav{top: 0;
    position: sticky;
    z-index: 1;
    }


nav.menu-nav ul li.btn{
    display: inline-block;
    list-style-type: none;
    padding: 14px;
}


nav.menu-nav ul li.btn a{
    margin-top: 0;
    text-decoration:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 15px;
}


nav.menu-nav ul li.btn:hover a{
    color: white;
    background-color: black;
    transition: 0.15s; all;
    border-radius: 10px;
}


nav.menu-nav ul li.btn img{
    padding:auto;
    z-index: 1;
    width: 56px;
    height: 42px;
    vertical-align: middle;
    border-radius: 45%;
}


.menu-nav ul{
    background-color: antiquewhite;
    border-radius: 0px 0px 15px 0px;
    margin-left: -40px;
}


/* Panel de presentation */


.panels{
    display: flex;
    margin-top: 40px;
}


.panel{
    height: 40vh;
    flex: 1;
    transition: flex 0.6s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.panel:hover{
    flex: 3;
}


.new1{
    background-image: url("../img/eldenring-news.jpeg");
}


.new2{
    background-image: url("../img/ff16-news.jpg");
}


.new3{
    background-image: url("../img/zelda-news.jpg");
}


.new4{
    background-image: url("../img/JediSurvivor-news.PNG");
}


.titrePresentation{
    color: white;
    font-size: 2em;
    opacity: 0%;
    transition: opacity 0.8s;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    text-align: center;
}


.titrePresentation:hover{
opacity: 100%;
align-content: center;
text-align: center;
}


/* Suite */

.fond{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.6);
    margin-top: 80px;
    padding: 20px;
    padding-top: 3px;
    border-radius: 20px;
    box-sizing: none;
}


.new{
    display: flex;
    padding: 20px;
}

.description p{
text-align: justify;
margin: 3vw;
}

.description h3{
    text-align: center;
    margin: 2vw;
    text-decoration: underline;
    font-weight: bold;
    font-size: 170%;
}    

.news img{
    width: 35vw;
    border-color: black;
    border: 5px;
}

/* Card */


.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.cards .card{
    margin: 20px;
    justify-content: center;
    width: 20%;
    min-width: 150px;
}


.cards .card img{
    width: 80%;
    margin-left: 10%;
    min-width: 120px;
}


.cards .card .card-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }


.cards .card .card-body p{
    margin-top: -10px;
}


/* Footer  */


.deep-end{
    text-align: center;
    color: aliceblue;
    font-size:medium;
}

