body{
    background-color: #121212;
        background-size:cover;
    background-position: center;
    color: black;
    font-family: 'paragraphe';
    font-size: 130%;
    font-weight: bold;
}


.title{
    color: whitesmoke;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
}


/* Nav barre*/


.nav{top: 0;
    position: sticky;
    z-index: 1;
    }


nav.menu-nav ul li.btn{
    display: inline-block;
    z-index: 1;
    list-style-type: none;
    position: sticky;
    padding: 14px;
}


nav.menu-nav ul li.btn a{
    margin-top: 0;
    text-decoration:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 15px;
}


nav.menu-nav ul li.btn:hover a{
    color: white;
    background-color: black;
    transition: 0.15s; all;
    border-radius: 10px;
}




nav.menu-nav ul li.btn img{
    background-image: url("img/logo_black.png");
    padding:auto;
    z-index: 1;
    width: 56px;
    height: 42px;
    vertical-align: middle;
    transition: 0.15s;
}

nav.menu-nav ul li.btn img:hover{
    background-image: url("img/logo_white.png");
    padding:auto;
    z-index: 1;
    width: 56px;
    height: 42px;
    vertical-align: middle;
}

.menu-nav ul{
    background-color: antiquewhite;
    border-radius: 0px 0px 15px 0px;
    margin-left: -40px;
}


/* Panel de presentation */



/* Suite */

.fond{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 20px;
    padding-top: 3px;
    border-radius: 20px;
    box-sizing: none;
    justify-content: center;
}

.cover img{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -15px;
    width: 30vw;
    height: auto;
    border: 0;
}

h2{
    padding: 5px 40px 5px 25px;
    font-family: 'titre';
    font-weight: bold;
    font-size: 220%;
    text-decoration: underline;
    background-color: #000000;
    border-radius: 0px 0px 45px 45px;
    color: white;
    opacity: 0.9;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-top: white;
    margin-bottom: 60px;
    margin-top: 40px;
    z-index: -1;
  }

h3{
    text-align: center;
    font-weight: bold;
    font-size: 160%
}

.titre{
    text-align: center;
  }

.synopsis{
    text-align: justify;
    margin-left: 5vw;
    margin-right: 5vw;
}

.gameplay{
    text-align: justify;
    margin-left: 5vw;
    margin-right: 5vw;
}



iframe{
    display: block;
    margin: 0 auto;
    width: 70vw;
    height: 55vh;
    border: 0;
}
/* Card */


/* Footer  */


.deep-end{
    text-align: center;
    color: aliceblue;
    font-size:medium;
}
